.custom-dropdown {
  position: relative;
}

.hamburger-icon {
  cursor: pointer;
  color: white;
}

.dropdown-content {
  position: absolute;
  top: 120%;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255,  0.9); /* White background with 90% opacity */
  color: white;
  padding: 8px;
  /* border: 1px solid #ccc; */
  /* z-index: 1; */
  border-radius: 5px; /* Adjust the radius value as needed */
}

.dropdown-content li a {
  color: black; /* Change this to your desired text color */
  text-decoration: none;
  font-family: 'Playfair Display', serif;
}

/* 
.hamburger-icon.open {
  Add styles for open state if needed
} */
