

.my-headshot {
    width: 20vw; 
    /* max-width: 300px; Set a maximum width if desired */
    height: 20vw;
    border-radius: 50%; 
    border: 2px solid #808080; /* Gray border with 2px width */
    overflow: hidden; /* Hide overflow */
}  

.my-headshot img {
    height : 120%; 
    width: 200%;
    object-fit: cover; /* this allows for the image to scale outside the container boarder*/
}

.medium-link {
    width: 10vw; 
    /* max-width: 300px; Set a maximum width if desired */
    height: 10vw;
    padding: 1vw;
    border-radius: 50%; 
    border: 2px solid #808080; /* Gray border with 2px width */
    
}  

.small-link {
    width: 7vw; 
    /* max-width: 300px; Set a maximum width if desired */
    height: 7vw;
    padding: 1vw;
    border-radius: 50%; 
    border: 2px solid #808080; /* Gray border with 2px width */
}  

.GitLab-Icon{
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: orange;
}

.Ieee-Icon{
    width: 100%;
    height: auto;
    cursor: pointer;
    color: blue;
}

.LinkedIn-Icon{
    width: 100%;
    height: auto;
    cursor: pointer;
    color: #0077B5;
}


.Text-Row-One text{
    margin-top: 15vh;
    font-size: 5vw;
    font-family: 'Playfair Display', serif;
    color: white;
}

.Text-Row-Two text{
    margin-top:10%;
    font-size: 2.3vw;
    font-family: 'Playfair Display', serif;
    color: white;
}

.Text-Row-Three text{
    margin-top:10%;
    font-size: 1.6vw;
    font-family: 'Playfair Display', serif;
    color: white;
}

.Text-Row-Four text{
    margin-top:10%;
    font-size: 1.6vw;
    font-family: 'Playfair Display', serif;
    color: white;
}


body {
    /* margin: 0;
    margin-left: 10px;
    padding: 0; */
    background-color: #000000; /* Set the background color of the entire page */
    color: white; 
    /* font-family: Arial, sans-serif; */
}

